/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #333;
}

header {
  height: 400px;
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.bubble {
  background: white;
  padding: 30px;
  border-radius: 20px; /* arrondit les coins */
  box-shadow: 0 10px 25px rgba(0,0,0,0.1); /* ombre douce */
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 30px;
}
.bubble:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}
.compétences {
  display: flex;
  gap: 20px; /* espace entre les projets */
  justify-content: space-between;
}
.compétence {
  flex: 1;
}
@media (max-width: 700px) {
  .compétences {
    flex-direction: column;
  }
}
.floating {
  position: absolute;
  opacity: 0; /* invisible au début */
}

.img1, .img2, .img4, .img5 {
  width: clamp(200px, 6vw, 350px);
}

.img3, .img7, .img8 {
  width: clamp(300px, 6vw, 450px);
}

.img6, .img9 {
    width: clamp(400px, 6vw, 600px);
  }

/* GAUCHE */
.img1 { top: 200px; left: 10px; }
.img5 { top: 175px; left: 250px; }
.img2 { top: 50px; left: 10px; }
.img6 { top: -50px; left: 175px; }
/* DROITE */
.img3 { top: -30px; right: -30px; }
.img4 { top: 250px; right: 25px; }
.img7 { top: 0px; right: 150px; }
.img8 { top: 250px; right: 200px; }
.img9 { top: 50px; right: 180px; }

.img5, .img4 {
  z-index: 1;
}
.img1 {
  z-index: 2;
}
.img2, .img6, .img3 {
  z-index: 3;
}
.img7 {
  z-index: 4;
}
.img8, .img9 {
  z-index: 5;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.left {
  animation: slideInLeft 1s ease forwards;
}

.right {
  animation: slideInRight 1s ease forwards;
}

.img1 { animation-delay: 0.2s; }
.img2 { animation-delay: 0.4s; }
.img3 { animation-delay: 0.2s; }
.img4 { animation-delay: 0.4s; }
.img5 { animation-delay: 0.6s; }
.img6 { animation-delay: 0.8s; }
.img7 { animation-delay: 0.6s; }
.img8 { animation-delay: 0.8s; }
.img9 { animation-delay: 1s; }

a:hover {
  border: 3px solid red;
}

.floating {
  position: absolute;
  transition: transform 0.3s ease;
}

.floating:hover {
  transform: scale(1.1);
  cursor: pointer;
}
