/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #333;
}

header {
  height: 400px;
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.bubble {
  background: white;
  padding: 30px;
  border-radius: 20px; /* arrondit les coins */
  box-shadow: 0 10px 25px rgba(0,0,0,0.1); /* ombre douce */
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 30px;
}
.bubble:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}
.compétences {
  display: flex;
  gap: 20px; /* espace entre les projets */
  justify-content: space-between;
}
.compétence {
  flex: 1;
}
@media (max-width: 700px) {
  .compétences {
    flex-direction: column;
  }
}
.floating {
  position: absolute;
  width: 80px;
  opacity: 0; /* invisible au début */
}
/* GAUCHE */
.img1 { top: 10px; left: 5%; }
.img2 { top: 100px; left: 10%; }
.img5 { top: 175px; left: 15%; }
.img6 { top: 250px; left: 20%; }

/* DROITE */
.img3 { top: 10px; right: 5%; }
.img4 { top: 100px; right: 10%; }
.img7 { top: 175px; right: 15%; }
.img8 { top: 250px; right: 20%; }

@keyframes slideInLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.left {
  animation: slideInLeft 1s ease forwards;
}

.right {
  animation: slideInRight 1s ease forwards;
}

.img1 { animation-delay: 0.2s; }
.img2 { animation-delay: 0.4s; }
.img3 { animation-delay: 0.2s; }
.img4 { animation-delay: 0.4s; }
.img5 { animation-delay: 0.6s; }
.img6 { animation-delay: 0.8s; }
.img7 { animation-delay: 0.6s; }
.img8 { animation-delay: 0.8s; }
